<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Cập nhật topic</div>
	<div class="panel-body row">
		<form method="post" action="/teacher/topic/save" class="form-inline">
			<label class="col-md-2">Tên topic</label>
			<!-- input question name -->
			<?php echo $this->view->form->render('id');?>
			<div class="col-md-10"><?php echo $this->view->form->render('name')?></div>

			<label class="col-md-12">Nội dung</label>
			<div class="col-md-12 panel panel-default">
				<div id="math_preview">Xem trước</div>
			</div>
			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render ( 'content' )?></div>
			<div class="col-md-12"><?php echo $this->view->form->render ( 'submit' )?></div>

		</form>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript">
	function updateFormula(value){
		var div = document.getElementById('math_preview');
		div.innerHTML = value;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub,"math_preview"]);
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>