
<h1>Tạo một bài toán</h1>
<div><?php $this->flash->output();?></div>
<div class="panel panel-default col-md-12">
	<label>Nội dung</label>
	<div id="math_preview">Xem trước</div>
</div>
<div>
	<form method="post" action="create" class="form-inline">
		<div class="col-md-12 ">
			<label class="col-md-2">Tên câu hỏi</label>
			<!-- input question name -->
			<div class="col-md-10"><?php echo $this->view->form->render('question_name')?></div>
		</div>
		<div class="col-md-12">
			<label class="col-md-2">Kiểu câu hỏi</label>

			<!-- input question type -->
			<div class="col-md-10"><?php echo $this->view->form->render('question_type')?></div>
		</div>
		<div class="col-md-12">
			<label class="col-md-2">Môn học</label>

			<!-- input question subject -->
			<div class="col-md-10"><?php echo $this->view->form->render('subject_id')?></div>
		</div>
		<div class="col-md-12">
			<label class="col-md-2">Độ khó</label>
			<!-- input question difficulty -->
			<div class="col-md-10"><?php echo $this->view->form->render('difficulty')?></div>
		</div>
		<div class="col-md-12">
			<label class="col-md-12">Nội dung</label>

			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render('question_content')?></div>
			<div class="col-md-12"><?php echo $this->view->form->render('submit')?></div>
		</div>
	</form>
</div>

<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'question_content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript">
	function updateFormula(value){
		var div = document.getElementById('math_preview');
		div.innerHTML = value;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub,"math_preview"]);
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>