<?php
use hoctap\Admin\Models\Subjects;
?>
<h1>Ngân hàng câu hỏi</h1>
<div><?php echo $this->flash->output();?></div>
<form method="post" action="">
	<div><?php
	echo $this->view->searchQuestionForm->render ( 'search_value' );
	echo $this->view->searchQuestionForm->render ( 'search' )?>
	</div>
</form>
<div>
	<p id='table_result'>not ok</p>
</div>
<div align="center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Kiểu câu hỏi</th>
				<th>Độ khó</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody>	<?php
		foreach ( $this->view->page->items as $question ) {
			echo '<tr>';
			echo '<td>' . $question->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/admin/question/view/' . $question->id, $question->question_name ) . '</td>';
			echo '<td>' . $question->question_type . '</td>';
			echo '<td>' . $question->difficulty . '</td>';
			echo '<td>' . Subjects::findFirstById ( $question->subject_id )->name . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( array (
					'/admin/question/delete/' . $question->id,
					'<i class="glyphicon glyphicon-remove"></i> Delete' 
			) ) . '</td>';
			echo '</tr>';
		}
		?>
		<tr>
				<td colspan="7" align="right">
					<div class="btn-group"><?php
					echo $this->tag->linkTo ( '/admin/question/index/', '<i class="icon-fast-backward"></i>Đầu', array (
							'class' => 'btn' 
					) );
					echo $this->tag->linkTo ( '/admin/question/index/?page=' . $this->view->page->before, '<i class="icon-step-backward"></i>Trước', array (
							'class' => 'btn' 
					) );
					echo $this->tag->linkTo ( '/admin/question/index/?page=' . $this->view->page->next, '<i class="icon-step-forward"></i>Tiếp', array (
							'class' => 'btn' 
					) );
					echo $this->tag->linkTo ( '/admin/question/index/?page=' . $this->view->page->last, '<i class="icon-fast-forward"></i>Cuối', array (
							'class' => 'btn' 
					) )?>
				
				<span class="help-inline"><?php echo $this->view->page->current.' / '.$this->view->page->total_pages ?></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>