<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<!-- <nav class="navbar navbar-inverse "> -->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Luyện Tài</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar"><?php $this->elements->getMenu()?></div>
		</div>

	</nav>

	<div class="container" style="margin-top: 50px">
		<div class="row body-content">
			<div class="none-print">
				<div class="breadcrumb"><?php $this->elements->getParent (); ?></div>
			</div>
			<div class="col-md-9 main-content" role="main"><?php echo $this->getContent ();?></div>
			<!-- For adwords here-->
			<div class="col-md-3">
				<div class=" none-print panel panel-default">
					<div class="panel-heading">Some thing here</div>
					<div class="panel-body"></div>
				</div>
				<div class="fb-like" data-href="" data-layout="button_count"
					data-action="like" data-size="small" data-show-faces="true"
					data-share="true"></div>
			</div>
		</div>
		<hr>
		<footer class="col-md-12">
			<p>&copy; Luyentai.com 2016</p>
		</footer>

	</div>
</body>