<?php
use hoctap\Admin\Models\UserTypes;
?>
<h1>Thông tin chi tiết user</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div class="col-md-12">
		<label class="col-md-2">Id: </label>
		<div class="col-md-10" id="user-id"><?php echo $this->view->user->id?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Tên: </label>
		<div class="col-md-10"><?php echo $this->view->user->first_name?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Họ , Đệm: </label>
		<div class="col-md-10"><?php echo $this->view->user->last_name?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Điện thoại: </label>
		<div class="col-md-10"><?php echo $this->view->user->mobile_phone?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Bithday: </label>
		<div class="col-md-10"><?php echo $this->view->user->bithday?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Email: </label>
		<div class="col-md-10"><?php echo $this->view->user->email?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Facebook: </label>
		<div class="col-md-10"><?php echo $this->view->user->facebook?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Địa chỉ: </label>
		<div class="col-md-10"><?php echo $this->view->user->address?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Trường: </label>
		<div class="col-md-10"><?php echo $this->view->user->school?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Trình độ (lớp): </label>
		<div class="col-md-10"><?php echo $this->view->user->education_level?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Đánh giá: </label>
		<div class="col-md-10"><?php echo $this->view->user->rank?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Phân loại: </label>
		<div class="col-md-10"><?php echo UserTypes::findFirstById($this->view->user->user_type)->name?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Trạng thái: </label>
		<div class="col-md-10"><?php echo $this->view->user->active==1?'Đã kích hoạt': 'Chưa kích hoạt';?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Tiêu đề:</label>
		<div class="col-md-10"><?php echo $this->view->requestDetail->title;	?></div>
	</div>
	<div class="col-md-12">
		<label class="col-md-2">Nội dung:</label>
		<div class="col-md-10"><?php echo $this->view->requestDetail->content;	?></div>
	</div>
	<div>
		<button class="btn btn-success" id="accept-teacher">Phê duyệt</button>
		<button class="btn btn-danger" id="deny-teacher">Bỏ qua</button>
	</div>
</div>
