<h1>Yêu cầu giáo viên</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Người yêu cầu</th>
					<th>Tiêu đề</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody><?php
			if ($this->view->list != null)
				foreach ( $this->view->list as $request ) {
					echo '<tr>';
					echo '<td>' . $this->tag->linkTo ( '/admin/user/view/' . $request->id, $request->id ) . '</td>';
					echo '<td>' . $this->tag->linkTo ( '/admin/user/aprove/' . $request->id, $request->title ) . '</td>';
					echo '<td>' . $request->create_date . '</td>';
					echo '</tr>';
				}
			?></tbody>
		</table>
	</div>
</div>