
<h1>Thêm người dùng</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="create">
		<div>
			<label>Tài khoản</label>
			<?php echo $this->view->form->render('user_name');?>
		</div>
		<div>
			<label>Mật khẩu</label>
			<?php echo $this->view->form->render('password');?>
		</div>
		<div>
			<label>Kiểu người dùng</label>
			<?php echo $this->view->form->render('user_type');?>
		</div>
		<div>
			<label>Tên</label>
			<?php echo $this->view->form->render ( 'first_name' );?>
		</div>
		<div>
			<label>Họ</label>
			<?php echo $this->view->form->render('last_name');?>
		</div>
		<div>
			<label>Số diện thoại</label>
			<?php echo $this->view->form->render('mobile_phone');?>
		</div>
		<div>
			<label>Email</label>
			<?php echo $this->view->form->render('email');?>
		</div>
		<div>
			<label>Ngày sinh</label>
			<?php echo $this->view->form->render('bithday');?>
		</div>
		<div>
			<label>kích hoạt</label>
			<?php echo $this->view->form->render('active');?>
		</div>
		<div><?php echo $this->view->form->render('submit')?></div>
	</form>
</div>
