
<h1>Người dùng</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div>
			<?php echo $this->tag->linkTo('/admin/user/create/','Tạo mới')?>
		</div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Họ và Tên</th>
					<th>Tài khoản</th>
					<th>Email</th>
					<th>Trường</th>
					<th>Điện thoại</th>
					<th>Hoạt Động</th>
				</tr>
			</thead>
				<?php
				foreach ( $this->view->page->items as $user ) {
					echo '<tr>';
					echo '<td>' . $user->id . '</td>';
					echo '<td>' . $this->tag->linkTo ( '/admin/user/view/' . $user->id, $user->last_name . ' ' . $user->first_name ) . '</td>';
					echo '<td>' . $user->user_name . '</td>';
					echo '<td>' . $user->email . '</td>';
					echo '<td>' . $user->school . '</td>';
					echo '<td>' . $user->mobile_phone . '</td>';
					echo '<td>' . ($user->active == 1 ? 'Yes' : 'No') . '</td>';
					echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/user/update/' . $user->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
					echo '</tr>';
				}
				?>
			</table>
	</div>
</div>