
<h1>Cập nhật user</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="/admin/user/save">
		<div>
			<?php echo $this->view->form->render('id')?>
			<label>Tài khoản</label>
			<?php echo $this->view->form->render('user_name', array('readonly'=>''));?>
		</div>
		<div>
			<label>Tên</label>
			<?php echo $this->view->form->render('first_name');?>
		</div>
		<div>
			<label>Họ và Đệm</label>
			<?php echo $this->view->form->render('last_name');?>
		</div>
		<div>
			<label>Email</label>
			<?php echo $this->view->form->render('email');?>
		</div>
		<div>
			<label>Kiểu người dùng</label>
			<?php echo $this->view->form->render('user_type');?>
		</div>
		<div>
			<label>Trạng thái</label>
			<?php echo $this->view->form->render('active');?>
		</div>
		<div>
			<?php echo $this->view->form->render('submit')?>
		</div>
	</form>
</div>