<?php echo $this->flash->output()?>
<div class="panel panel-success">
	<div class="panel-heading">Tạo đề thi</div>
	<div class="panel-body">
		<form action="create" method="post">
			<div>
				<label>Môn học</label>
				<?php echo $this->view->examForm->render('subject_id')?>
			</div>
			<div>
				<label> Tiêu đề</label> <input type="text" name="name"
					class="form-control" required="required">
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian đề bắt đầu được hiển thị sau khi tất cả hs thi xong">Hiển
					thị đề</label> <input type="datetime-local" class="form-control"
					name="active_exam_view">
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian được thực hiện kiếm tra đến ngày:">Thời gian được
					thực hiện kiếm tra đến ngày</label> <input type="datetime-local"
					class="form-control" name="test_until">
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian đáp án bắt đầu được hiển thị">Hiển thị đáp án</label>
				<input type="datetime-local" class="form-control"
					name="active_answer_view">
			</div>
			<div>
				<label data-toggle="tooltip" title="Thời gian làm bài">Thời gian làm
					bài</label> <input type="number" class="form-control"
					name="limit_time" value="90" required="required">
			</div>
			<div>
				<label>Mô tả</label>
				<textarea rows="" cols="" name="description" required></textarea>
			</div>
			<div>
				<label>Ghi chú</label> <input type="text" name="footer"
					class="form-control">
			</div>
			<div id="view-question"></div>
			<label>Tổng số câu hỏi</label> <input type="text"
				name="number_of_question" id="number_of_question" readonly>
			<div id="select_question">
				<label>Chọn câu hỏi</label> <br />
			</div>

			<div id="list_question"></div>
			<div>
				<input type="submit" name="submit" value="Tạo"
					class="form-control btn btn-primary">
			</div>
		</form>
	</div>
</div>
<script>
//script for setup rich text editor and update formula
 var editor = CKEDITOR.replace( 'description' );
</script>
<script>
var i = 1;
var author = <?php echo $this->session->get('id')?>;
$(document).ready(function(){
	//var author = <?php echo $this->session->get('id')?>;
	$('#list_question').load('/anonymous/ajax/questions/'+author+'/'+$("#subject_id").val());
});
$("#subject_id").change(function(){
	$('#list_question').load('/anonymous/ajax/questions/'+author+'/'+$("#subject_id").val());
});
function addQ(question){

	$('#view-question').append("<input type='hidden' value='"+question+"' name = 'q"+i+"'>");
	$('#view-question').append("<label>Câu "+i+"</label>");
	$('#view-question').append("<div>"+document.getElementById('c'+question).textContent+"</div>");

	$('#number_of_question').val(i);
	i++;	
	}

</script>
<style>
#list_question {
	height: 300px;
	overflow: scroll;
}
</style>