<?php echo $this->flash->output()?>
<div class="panel panel-success">
	<div class="panel-heading">Cập nhật thi</div>
	<div class="panel-body">
		<form action="/teacher/exam/save" method="post">
			<div>
				<input type="hidden" name="id"
					value="<?php echo $this->view->exam->id?>"> <label>Tiêu đề</label>
				<input type="text" name="name" class="form-control"
					value="<?php echo $this->view->exam->name;?>" required="required">
			</div>
			<div>
				<label>Môn học</label>
				<?php echo $this->view->examForm->render('subject_id')?>
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian đề bắt đầu được hiển thị sau khi tất cả hs thi xong">Hiển
					thị đề</label> <input type="datetime-local" class="form-control"
					name="active_exam_view">
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian được thực hiện kiếm tra đến ngày">Thời gian được
					thực hiện kiếm tra đến ngày</label> <input type="datetime-local"
					class="form-control" name="test_until">
			</div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian đáp án bắt đầu được hiển thị">Hiển thị đáp án</label>
				<input type="datetime-local" class="form-control"
					name="active_answer_view">
			</div>
			<div>
				<label data-toggle="tooltip" title="Thời gian làm bài">Thời gian làm
					bài</label> <input type="number" class="form-control"
					name="limit_time"
					value="<?php echo $this->view->exam->limit_time?>"
					required="required">
			</div>
			<div>
				<label>Mô tả</label>
				<textarea rows="" cols="" name="description" required><?php echo $this->view->exam->description?></textarea>
			</div>
			<div>
				<label>Ghi chú</label> <input type="text" name="footer"
					class="form-control" value="<?php echo $this->view->exam->footer?>">
			</div>
			<div id="select_question">
				<label>Chọn câu hỏi</label><br />
				<div><?php
				foreach ( $this->view->questions as $question ) {
					echo '<label>Câu số ' . $question->question_number . ' </label>';
					echo "<input type='number' onchange='updateQ(this)' name='question_$question->id'  id='question_$question->id' value='$question->question_id'><i class='glyphicon glyphicon-remove' name='remove' id='remove_$question->id' onclick='removeQ($question->id)'></i><br/>";
					echo "<div id='content_question_$question->id'>$question->question_content</div>";
				}
				?></div>
			</div>
			<div>
				<div>
					<label>Số câu hỏi:</label> <input type="number"
						name="number_of_question" id="number_of_question"
						value="<?php echo sizeof($this->view->questions);?>" readonly>
				</div>
				<div>
					<!-- <input type="button" value="Thêm câu hỏi" id="add_question"
						name="add_question" class="btn"> -->
					<div id="list_question"></div>
				</div>

			</div>
			<div>
				<input type="submit" name="submit" value="Cập nhật"
					class="form-control btn btn-primary">
			</div>
		</form>
		<div>
			<br /> <label>Note: </label><br>Hiển thị chỉ cập nhật sau khi ấn cập
			nhật <br /> Nếu muốn cập nhật câu hỏi: xem ID câu hỏi bên dưới và sửa
			ID vào trong text box
		</div>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
 var editor = CKEDITOR.replace( 'description' );
</script>
<script>
i = document.getElementById('number_of_question').value;
$(document).ready(function(){
$("#add_question").click( function (){
	i++;
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.onreadystatechange = function() {
		if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			$("#select_question").append("<label class='new_"+i+"'>Câu số " + i + "</label>");
			$("#select_question").append(xmlHttp.responseText);
			$("#number_of_question").val(i);
		}
	};
	xmlHttp.open("GET", "/teacher/exam/questionforupdate?value="+i+"&subject="+document.getElementById("subject_id").value, true);
	xmlHttp.send();
		
});
});	

//function remove question
function removeQ(id){
	$("#question_"+id).remove();
}
function removeOption(id){
	$(".new_"+id).remove();
}
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<script type="text/x-mathjax-config">
 // MathJax.Hub.Config({
 //  	tex2jax: {
 //   	inlineMath: [["`","`"],["\\(","\\)"]]
 // 	},
 // });
</script>
<!-- add question -->
<script>
var i = <?php echo count($this->view->questions)+1?>;
var author = <?php echo $this->session->get('id')?>;
$(document).ready(function(){
	//var author = <?php echo $this->session->get('id')?>;
	$('#list_question').load('/anonymous/ajax/questions/'+author+'/'+$("#subject_id").val());
});
$("#subject_id").change(function(){
	$('#list_question').load('/anonymous/ajax/questions/'+author+'/'+$("#subject_id").val());
});
function addQ(question){

	$('#select_question').append("<input type='hidden' value='"+question+"' name = 'new_"+i+"'>");
	$('#select_question').append("<label>Câu "+i+"</label>");
	$('#select_question').append("<div>"+document.getElementById('c'+question).textContent+"</div>");

	$('#number_of_question').val(i);
	i++;
	MathJax.Hub.Queue(["Typeset",MathJax.Hub,"select_question"]);
	}
function updateQ(current){
	$("#content_"+current.id).load('/anonymous/ajax/question/'+current.value);
}
</script>
<style>
#list_question {
	height: 300px;
	overflow: scroll;
}
</style>

