<?php $this->flash->output();?>
<div>
	<div class="col-md-12"><?php
	echo $this->view->exam->description;
	?></div>
	<div><?php
	foreach ( $this->view->questions as $question ) {
		echo '<div class="col-md-12">';
		echo '<p style="float:left"><b>Câu ' . $question->question_number . $question->question_desc . '.</b>&nbsp;</p>';
		echo $question->question_content;
		
		if ($question->option_a != null)
			echo '<p>&emsp;&emsp;A. ' . $question->option_a . '</p>';
		if ($question->option_b != null)
			echo '<p>&emsp;&emsp;B. ' . $question->option_b . '</p>';
		if ($question->option_c != null)
			echo '<p>&emsp;&emsp;C. ' . $question->option_c . '</p>';
		if ($question->option_d != null)
			echo '<p>&emsp;&emsp;D. ' . $question->option_d . '</p>';
		if ($question->option_e != null)
			echo '<p>&emsp;&emsp;E. ' . $question->option_e . '</p>';
		if ($question->true_answer != null)
			echo '<p>Đáp án đúng: ' . $question->true_answer . '</p>';
		
		echo '</div>';
	}
	?></div>
	<div class="col-md-12" align="center">
		<i>(<?php echo $this->view->exam->footer?>)</i>
	</div>
</div>
<div class="row none-print">
	<div class="col-md-12">
		<label class="col-md-3">Thời gian làm bài:</label>
	<?php echo $this->view->exam->limit_time.' phút'?>
	</div>
	<div class="col-md-12">
		<label class="col-md-3">Bắt đầu thi từ:</label>
	<?php echo $this->view->exam->active_view?>
	</div>
	<div class="col-md-12">
		<label class="col-md-3">Mở thi đến ngày:</label>
	<?php echo $this->view->exam->active_test_until?>
	</div>
	<div class="col-md-12">
		<label class="col-md-3">Được xem đáp án từ:</label>
	<?php echo $this->view->exam->active_answer_view?>
	</div>
	<div class="col-md-12">
	<?php echo $this->tag->linkTo ( '/teacher/exam/update/' . $this->view->exam->id, '<i class="glyphicon glyphicon-edit"></i> Edit' );	?>
	<br>
	<?php echo $this->tag->linkTo ( '/teacher/answer/answers/' . $this->view->exam->id, 'Đáp án' )?>
	</div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>