<?php echo $this->flash->output();?>
<div>
	<div class="panel panel-success">
		<div class="panel-heading">Bài giảng mới nhất</div>
		<div class="panel-body"><?php echo $this->view->newestLessons; ?></div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">Câu hỏi mới nhất</div>
		<div class="panel-body"><?php echo $this->view->newestQuestions;?></div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">Đề thi mới nhất</div>
		<div class="panel-body"><?php echo $this->view->newestExams; ?></div>
	</div>
</div>
<style>
.title-section {
	padding-left: 15px;
	padding-top: 1px;
	border-top-left-radius: 1em;
	border-top-right-radius: 80em 5em;
	width: 65%;
	height: 30px;
	background-color: green;
	color: white;
	vertical-align: middle;
}
</style>