<?php $this->assets->outputJs();?>
<?php $this->flash->output();?>
<h1><?php
$name = htmlentities ( $this->view->question->question_name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
echo $name;
?></h1>
<div class="col-md-12"><?php
echo $this->view->question->question_content;
?></div>

<div>
	<label>Đáp án:</label>
	<div class="list-group"><?php
	$i = 1;
	if (count ( $this->view->answers )) {
		foreach ( $this->view->answers as $answer ) {
			if ($answer->active_view) {
				echo '<div class="list-group-item">';
				echo '<label>Cách làm ' . $i ++ . ':</label>';
				echo '<div>' . $answer->answer_content;
				echo $answer->date_modify . '</div></div>';
			} else {
				echo '<div class="alert alert-danger">Đáp án chưa thể xem tại thời điểm hiện tại</div>';
			}
		}
	} else {
		echo 'Chưa có đáp án nào';
	}
	?></div>
</div>
<!-- Comment content -->
<div><?php echo $this->view->viewComments;?></div>
<tr>
	<td colspan="7" align="right">
		<div class="btn-group"><?php echo $this->view->pageControl;?></div>
	</td>
</tr>
<!-- Comment form -->
<?php echo $this->view->comment;?>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'comment' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>