<?php
use hoctap\Models\Subjects;
use hoctap\Models\Categories;
?>
<h1>Ngân hàng câu hỏi</h1>
<div><?php echo $this->flash->output();?></div>
<div align="center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Kiểu câu hỏi</th>
				<th>Độ khó</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody>	<?php
		foreach ( $this->view->page->items as $question ) {
			$name = htmlentities ( $question->question_name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $question->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/index/question/' . $question->id, $name ) . '</td>';
			echo '<td>' . Categories::findFirstById ( $question->question_type )->type . '</td>';
			echo '<td>' . $question->difficulty . '</td>';
			echo '<td>' . Subjects::findFirstById ( $question->subject_id )->name . '</td>';
			echo '</tr>';
		}
		?>
		</tbody>
	</table>
	<div><?php echo $this->view->pageControl;?></div>
</div>