<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Tạo câu hỏi</div>
	<div class="panel-body row">
		<form method="post" action="create" class="form-horizontal">
			<label class="col-md-2">Tên câu hỏi</label>
			<!-- input question name -->
			<div class="col-md-10"><?php echo $this->view->form->render('question_name')?></div>
			<label class="col-md-2">Kiểu câu hỏi</label>

			<!-- input question type -->
			<div class="col-md-10"><?php echo $this->view->form->render ( 'question_type' )?></div>
			<label class="col-md-2">Môn học</label>

			<!-- input question subject -->
			<div class="col-md-10"><?php echo $this->view->form->render ( 'subject_id' )?></div>
			<label class="col-md-2">Độ khó</label>
			<!-- input question difficulty -->
			<div class="col-md-10">	<?php echo $this->view->form->render('difficulty')?></div>

			<label class="col-md-2" data-toggle="tooltip"
				title="Ngày mọi người bắt đầu có thể xem">Hiển thị</label>
			<div class="col-md-10"><?php echo $this->view->form->render('active_view')?></div>

			<label class="col-md-12">Nội dung</label>
			<div class="col-md-12 panel panel-default">
				<div id="math_preview">Xem trước</div>
			</div>
			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render ( 'question_content' )?></div>
			<!-- multiple choose question -->
			<div class="col-md-12">
				<input class="btn btn-default mt-5 mb-5" type="button"
					value="Đáp án trắc nghiệm" id="add-multi-choise"
					onclick="addMultiChoise()">
			</div>
			<div id="answer_list_choose"></div>
			<div class="col-md-12"><?php echo $this->view->form->render ( 'submit' )?></div>

		</form>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'question_content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript">
	function updateFormula(value){
		var div = document.getElementById('math_preview');
		div.innerHTML = value;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub,"math_preview"]);
	}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>