<?php
use hoctap\Teacher\Models\Subjects;
use hoctap\Teacher\Models\Categories;
?>
<h1>Ngân hàng câu hỏi</h1>
<div><?php echo $this->flash->output();?></div>
<div><?php echo $this->tag->linkTo('/teacher/question/create/' ,'Tạo mới');?></div>
<div align="center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Kiểu câu hỏi</th>
				<th>Độ khó</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody><?php
		foreach ( $this->view->page->items as $question ) {
			$question->question_name = htmlentities ( $question->question_name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $question->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/teacher/question/view/' . $question->id, $question->question_name ) . '</td>';
			echo '<td>' . Categories::findFirstById ( $question->question_type )->type . '</td>';
			echo '<td>' . $question->difficulty . '</td>';
			echo '<td>' . Subjects::findFirstById ( $question->subject_id )->name . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/question/update/' . $question->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/question/delete/' . $question->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
			echo '</tr>';
		}
		?>
		</tbody>
	</table>
	<div><?php echo $this->view->pageControl;?></div>
</div>