<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php $this->assets->outputJs(); ?>
<?php $this->assets->outputCss(); ?>
</head>
<body>
 <?php echo $this->tag->getTitle()?>
 <?php echo $this->getContent(); ?>
</body>
</html>
