@CHARSET "utf-8";
/**
*	Menu
*/
.menu-item {
	margin-right: 0px;
}

.menu-item a {
	color: white;
}

.menu-item .user-icon {
	background-color: white;
}

.menu-item a:hover {
	color: #4CAF50;
}

.header-menu {
	background-color: #4E4E4E;
	height: 80px;
}

.summary-info {
	background-color: #ddd;
	padding-left: 15px;
	margin-right: 0px;
}

.nav .active {
	background-color: #4CAF50;
}

.nav .active a {
	color: white;
}

.left-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
}

.left-bar li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.left-bar li a:hover {
	background-color: #555;
	color: white;
}

.left-bar active {
	background-color: #4CAF50;
	color: white;
}

/* comment module*/
.comment-btn {
	font-style: normal;
	font-size: 14px;
	font-family: Calibri, 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	color: rgb(109, 63, 3);
	background-color: #fff4e5;
	padding: 0px 6px;
	border: 1px solid #f9d9b0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	text-align: center;
	outline: none;
	line-height: 21px;
	display: inline-block;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 26px;
}

.comment-btn:hover {
	color: rgb(143, 108, 63);
	text-decoration: none;
	background-color: #f9bc6d;
}

.time-comment {
	font-size: 12px;
	color: gray;
}

/* main content css*/
.body-content {
	background-color: white;
}

.main-content {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: white;
	background-color: white;
}

.other {
	margin-top: 15px;
	float: left;
	background-color: gray;
	float: left;
	float: left;
}

footer {
	float: left;
}

body {
	background-color: #E6E6FA;
}

.mt-5{
	margin-top:5px;
}
.mb-5{
	margin-bottom:5px;
}
.mr-5{
	margin-right:5px;
}
.ml-5{
	margin-left:5px;
}
@media print {
	.print-me, .print-me * {
		visibility: visible !important;
	}
	.none-print, .none-print * {
		display: none !important;
	}
}
