<?php
use hoctap\Models\Subjects;
use hoctap\Models\Categories;
?>
<h1>Ngân hàng bài giảng</h1>
<div><?php echo $this->flash->output();?></div>
<div align="center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Chủ đề</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody><?php
		foreach ( $this->view->page->items as $lesson ) {
			$lesson->name = htmlentities ( $lesson->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $lesson->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/lesson/lesson/' . $lesson->id, $lesson->name ) . '</td>';
			echo '<td>' . Categories::findFirstById ( $lesson->category_id )->type . '</td>';
			echo '<td>' . Subjects::findFirstById ( $lesson->subject_id )->name . '</td>';
			echo '</tr>';
		}
		?>
		
		</tbody>
	</table>
	<div><?php echo $this->view->pageControl;?></div>
</div>