<?php $this->assets->outputJs();?>
<div class="col-md-12">
	<h2><?php
	$name = htmlentities ( $lesson->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
	echo $name;
	?></h2>
	<p><?php $this->flash->output();?></p>
	<div class="panel panel-default col-md-12">
		<div class="panel-body col-md-12"><?php echo $this->view->lesson->content;?></div>
	</div>
	<div class="col-md-12 time-comment"><?php echo $this->view->lesson->date_modify?></div>
</div>

<div class="none-print">
	<!-- Comment content -->
	<label>Comments</label><br />
	<div><?php echo $this->view->viewComments;?></div>
	<div class="btn-group col-md-12"><?php echo $this->view->pageControl;?></div>
	<div class="none-print">
		<div class="fb-like" data-href="" data-layout="standard"
			data-action="like" data-size="small" data-show-faces="true"
			data-share="true" id="fb-like"></div>
	</div>
	<div class="fb-comments" data-href="" data-numposts="5" id="fb-comment"></div>
	<!-- comment form -->
<?php echo $this->view->comment;?>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'comment' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>