<?php
use hoctap\Models\Subjects;
use hoctap\Models\Categories;
?>
<h1>Ngân hàng bài giảng</h1>
<div><?php
echo $this->flash->output ();
?></div>
<div align="center">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Chủ đề</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody>	<?php
		foreach ( $this->view->page->items as $lesson ) {
			$lesson->name = htmlentities ( $lesson->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $lesson->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/admin/lesson/view/' . $lesson->id, $lesson->name ) . '</td>';
			echo '<td>' . Categories::findFirstById ( $lesson->category_id )->type . '</td>';
			echo '<td>' . Subjects::findFirstById ( $lesson->subject_id )->name . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/lesson/update/' . $lesson->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/lesson/delete/' . $lesson->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
			echo '</tr>';
		}
		?>
		<tr>
				<td colspan="7" align="right">
					<div class="btn-group"><?php
					echo $this->tag->linkTo ( '/admin/lesson/index/', '<i class="icon-fast-backward"></i>Đầu', array (
							'class' => 'btn' 
					) );
					echo $this->tag->linkTo ( '/admin/lesson/index/?page=' . $this->view->page->before, '<i class="icon-step-backward"></i>Trước', array (
							'class' => 'btn' 
					) );
					
					echo $this->tag->linkTo ( '/admin/lesson/index/?page=' . $this->view->page->next, '<i class="icon-step-forward"></i>Tiếp', array (
							'class' => 'btn' 
					) );
					
					echo $this->tag->linkTo ( '/admin/lesson/index/?page=' . $this->view->page->last, '<i class="icon-fast-forward"></i>Cuối', array (
							'class' => 'btn' 
					) );
					
					echo '<span class="help-inline">' . $this->view->page->current . ' of ' . $this->view->page->total_pages . '</span>'?>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>