<?php
use hoctap\Models\Categories;
use hoctap\Models\Subjects;
?>

<p><?php $this->flash->output();?></p>

<h2>
	Bài giảng: <?php
	$name = htmlentities ( $this->view->lesson->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
	echo $name;
	?>
</h2>

<div class="panel panel-default"><?php echo $this->view->lesson->content;?></div>
<div class="row">
	<label class="col-md-2">Chủ đề: </label>
	<div class="col-md-10"><?php echo Categories::findFirstById($this->view->lesson->category_id)->type?></div>
</div>
<div class="row">
	<label class="col-md-2">Môn học:</label>
	<div class="col-md-10"><?php echo Subjects::findFirstById($this->view->lesson->subject_id)->name;?></div>
</div>
<div class="row">
	<label class="col-md-2">Ngày cập nhật: </label>
	<div class="col-md-10"><?php echo $this->view->lesson->date_modify?></div>
</div>
<div class="none-print"><?php
echo $this->tag->linkTo ( '/admin/lesson/update/' . $this->view->lesson->id, '<i class="glyphicon glyphicon-edit"></i> Edit' );
?></div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>