
<h1>Thêm ký tự không được phép</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="create">
		<div>
			<label>Ký tự lọc (không được phép)</label>
				<?php echo $this->view->form->render('content');?>
			</div>
		<div>
				<?php echo $this->view->form->render('submit')?>
			</div>
	</form>
</div>