
<h1>Các ký tự, nội dung không được phép</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div>
			<?php echo $this->tag->linkTo('/admin/ignore-character/create/','Tạo mới')?>
		</div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nội dung</th>
				</tr>
			</thead>
				<?php
				foreach ( $this->view->page->items as $character ) {
					echo '<tr>';
					echo '<td>' . $character->id . '</td>';
					$string = htmlentities ( $character->content, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
					echo '<td><code>' . $string . '</code></td>';
					echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/ignore-character/update/' . $character->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
					echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/ignore-character/delete/' . $character->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
					echo '</tr>';
				}
				?>
			</table>
	</div>
</div>