
<h1>Cập nhật môn học</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="/admin/ignore-character/save">
		<div><?php echo $this->view->form->render('id')?><label>Tên chủ đề</label><?php echo $this->view->form->render('content');?></div>
		<div><?php echo $this->view->form->render('submit')?></div>
	</form>
</div>