<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/public/css/a-user.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
echo $this->tag->getTitle ();
$this->assets->outputCss ();
$this->assets->outputJs ();
?>
    </head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1820478491562817";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <?php echo $this->getContent(); ?>
    </body>
</html>
