<div>
	<h1>Quên mật khẩu</h1>
	<div><?php echo $this->flash->output();?></div>
	<div>
		<form action="login" method="post">
			<label>Email</label>
			<div>
				<input type="email" name="email" placeholder="email"
					required="required" class="form-control">
			</div>
			<div>
				<input type="submit" name="login" value="Gửi"
					class="btn btn-primary form-control margin-btn">
			</div>
		</form>
	</div>
</div>
<style>
.margin-btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
</style>