<div class="row">
	<h1 class="col-md-5">Trang cá nhân</h1>
</div>
<div><?php echo $this->flash->output();?></div>
<div class="row">
	<div class="col-md-2">
		<img
			src="<?php
			
			echo '/public/files/user-icon/' . ($this->view->user->education_level < 10 ? '0' : '') . $this->view->user->education_level . '.png'?>">
	</div>
	<div class="col-md-10">
		<table>
			<tr>
				<td><label>User name:</label></td>
				<td><?php	echo $this->view->user->user_name;?></td>
			</tr>

			<tr>
				<td><label>Tên:</label></td>
				<td><?php	echo $this->view->user->first_name;?></td>
			</tr>
			<tr>
				<td><label>Họ &amp; đệm: </label></td>
				<td><?php	echo $this->view->user->last_name;?></td>
			</tr>
			<tr>
				<td><label>Số điện thoại:</label></td>
				<td><?php	echo $this->view->user->mobile_phone;?></td>
			</tr>
			<tr>
				<td><label>Ngày sinh:</label></td>
				<td><?php	echo $this->view->user->bithday;?></td>
			</tr>
			<tr>
				<td><label>Email: </label></td>
				<td><?php	echo $this->view->user->email;?></td>
			</tr>
			<tr>
				<td><label>Facebook: </label></td>
				<td><?php	echo $this->view->user->facebook;?></td>
			</tr>
			<tr>
				<td><label>Địa chỉ: </label></td>
				<td><?php	echo $this->view->user->address;?></td>
			</tr>
			<tr>
				<td><label>Trường: </label></td>
				<td><?php	echo $this->view->user->school;?></td>
			</tr>
			<tr>
				<td><label>Cấp bậc:</label></td>
				<td><?php	echo 'Lớp '.$this->view->user->education_level;?></td>
			</tr>
			<tr>
				<td><label>Chỉnh sửa</label></td>
				<td><a href="/user/update"><img src="/public/img/Edit-96.png"
						style="height: 30px"></a></td>
			</tr>
			<tr>
				<td><label>Đổi mật khẩu</label></td>
				<td><a href="/user/password"><img src="/public/img/Edit-96.png"
						style="height: 30px"></a></td>
			</tr>
		</table>
	</div>
</div>