<?php
use const hoctap\Anonymous\Controllers\LinkRegister;
?>
<div>
	<h1>Đăng nhập</h1>
	<div><?php echo $this->flash->output();?></div>
	<div>
		<form action="login" method="post">
			<label>Tên đăng nhập</label>
			<div>
				<input type="text" name="username" placeholder="Tên đăng nhập"
					required="required" class="form-control">
			</div>
			<label>Mật khẩu</label>
			<div>
				<input type="password" name="password" placeholder="Mật khẩu"
					required="required" class="form-control">
			</div>
			<div>
				<input type="submit" name="login" value="Login"
					class="btn btn-primary form-control margin-btn">
			</div>
		</form>
	</div>
	<div>
		<div class="panel panel-default col-md-4"><?php echo $this->tag->linkTo(LinkRegister,'Đăng ký');?></div>
		<div class="panel panel-default col-md-4"><?php echo '<a href="' . htmlspecialchars($this->view->faceLogin) . '">Log in with Facebook!</a>';?></div>
		<div class="panel panel-default col-md-4"><?php echo $this->tag->linkTo('/user/forgot/','Quên mật khẩu');?></div>
	</div>
</div>
<style>
.margin-btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
</style>