<?php echo $this->flash->output();?>
<div>
	<h1>Đổi mật khẩu</h1>
	<p>Nếu bạn đăng nhập bằng facebook bạn sẽ không có mật khẩu trên hệ
		thống</p>
	<div>
		<form action="password" method="post">
			<div>
				<input type="password" name="old-password"
					placeholder="Mật khẩu hiện tại" class="form-control">
			</div>
			<div>
				<input type="password" name="new-password"
					placeholder="Mật khẩu mới" required="required" class="form-control">
			</div>
			<div>
				<input type="password" name="confirm-password"
					placeholder="Xác nhận lại mật khẩu" required="required"
					class="form-control">
			</div>
			<div>
				<input type="submit" name="submit" value="Update"
					class="btn btn-primary form-control margin-btn">
			</div>
		</form>
	</div>
</div>
<style>
.margin-btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
</style>