<h1>Đăng ký tài khoản</h1>
<div>
	<?php $this->flash->output(); ?>
</div>
<div>
	<form action='register' method="post" name="register_form"
		id="register_form">
		<table>
			<tr>
				<td>Tài khoản</td>
				<td><input type='text' name='user_name' class="form-control"
					placeholder="Tài khoản" required></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type='password' name='password' class="form-control"
					placeholder="Mật khẩu" required></td>
			</tr>
			<tr>
				<td>Re-password</td>
				<td><input type='password' name='confirm_password'
					class="form-control" placeholder="Nhập lại mật khẩu" required></td>
			</tr>
			<tr>
				<td>Tên</td>
				<td><input type='text' name='first_name' class="form-control"
					placeholder="Tên" required></td>
			</tr>
			<tr>
				<td>Họ</td>
				<td><input type='text' name='last_name' class="form-control"
					placeholder="Họ & đệm" required="required"></td>
			</tr>
			<tr>
				<td>Ngày sinh</td>
				<td><input type="date" name='birthday' class="form-control"
					required="required"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" name='email' class="form-control"
					placeholder="email" required></td>
			</tr>
			<tr>
				<td>Tôi là</td>
				<td><select name="user_type">
						<option value="1">Học Sinh</option>
						<option value="2">Giáo Viên</option>
				</select></td>

			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name='register'
					class="form-control btn btn-primary submit-button" value='Register'
					onclick="return checkInput()"></td>
			</tr>
		</table>
	</form>
</div>
<script>
function checkInput(){
	var password = document.forms['register_form']['password'].value;
	var confirmPassword = document.forms['register_form']['confirm_password'].value;
	if(password != confirmPassword){
		alert("Mật khẩu không khớp");
		document.getElementById("register_form").onsubmit=function (){return false;}
	}
	return true;
}
</script>
<style>
.submit-button {
	margin-top: 5px;
}
</style>