<h1>Đăng ký tài khoản</h1>
<div>
	<?php $this->flash->output(); ?>
</div>
<div>
	<form action='save' method="post" name="update-form" id="update-form">
		<?php echo $this->view->form->render('id')?>
		<table>
			<tr>
				<td>Tên</td>
				<td><?php echo $this->view->form->render('first_name')?></td>
			</tr>
			<tr>
				<td>Họ đệm</td>
				<td><?php echo $this->view->form->render('last_name')?></td>
			</tr>
			<tr>
				<td>Số điện thoại</td>
				<td><?php echo $this->view->form->render('mobile_phone')?></td>
			</tr>
			<tr>
				<td>Ngày sinh</td>
				<td><?php echo $this->view->form->render('bithday')?></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><?php echo $this->view->form->render('email')?></td>
			</tr>
			<tr>
				<td>Facebook</td>
				<td><?php echo $this->view->form->render('facebook')?></td>
			</tr>
			<tr>
				<td>Địa chỉ</td>
				<td><?php echo $this->view->form->render('address')?></td>
			</tr>
			<tr>
				<td>Trường học</td>
				<td><?php echo $this->view->form->render('school')?></td>
			</tr>
			<tr>
				<td>Lớp</td>
				<td><?php echo $this->view->form->render('education_level')?></td>
			</tr>
			<tr>
				<td colspan='2'><?php echo $this->view->form->render('submit')?></td>
			</tr>
		</table>
	</form>
</div>
<script>
function checkInput(){
	var password = document.forms['register_form']['password'].value;
	var confirmPassword = document.forms['register_form']['confirm_password'].value;
	if(password != confirmPassword){
		alert("Mật khẩu không khớp");
		document.getElementById("register_form").onsubmit=function (){return false;}
	}
	return true;
}
</script>