<h1>Danh sách đề thi</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div align="center">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Mô tả</th>
					<th>Cập nhật</th>
				</tr>
			</thead>
			<tbody><?php
			foreach ( $this->view->page->items as $exam ) {
				$exam->name = htmlentities ( $exam->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
				echo '<tr>';
				echo '<td>' . $exam->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/admin/exam/view/' . $exam->id, $exam->name ) . '</td>';
				echo '<td>' . $exam->date_modify . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/exam/update/' . $exam->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/exam/delete/' . $exam->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
				echo '</tr>';
			}
			?>
			<tr>
					<td colspan="7" align="right">
						<div class="btn-group"><?php
						echo $this->tag->linkTo ( '/teacher/exam/index/', '<i class="icon-fast-backward"></i>Đầu ', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/teacher/exam/index/?page=' . $this->view->page->before, '<i class="icon-step-backward"></i>Trước ', array (
								'class' => 'btn' 
						) );
						
						echo $this->tag->linkTo ( '/teacher/exam/index/?page=' . $this->view->page->next, '<i class="icon-step-forward"></i>Tiếp ', array (
								'class' => 'btn' 
						) );
						
						echo $this->tag->linkTo ( '/teacher/exam/index/?page=' . $this->view->page->last, '<i class="icon-fast-forward"></i>Cuối ', array (
								'class' => 'btn' 
						) );
						
						echo '<span class="help-inline">' . $this->view->page->current . ' of ' . $this->view->page->total_pages . '</span>'?>
					</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>