<h1>Cập nhật thi</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div>
		<form action="/admin/exam/save" method="post">
			<div>
				<input type="hidden" name="id"
					value="<?php echo $this->view->exam->id?>"> <label>Tiêu đề</label>
				<input type="text" name="name" class="form-control"
					value="<?php echo $this->view->exam->name;?>" required="required">
			</div>
			<div>
				<label>Mô tả</label>
				<textarea rows="" cols="" name="description" required><?php echo $this->view->exam->description?></textarea>
			</div>
			<div>
				<label>Ghi chú</label> <input type="text" name="footer"
					class="form-control" value="<?php echo $this->view->exam->footer?>">
			</div>
			<div id="select_question">
				<label>Chọn câu hỏi</label><br />
				<div><?php
				foreach ( $this->view->questions as $question ) {
					echo '<label>Câu số ' . $question->question_number . ' </label>';
					echo '<input list="question" name=' . '"question_' . $question->id . '" id="question_' . $question->id . '" value=' . '"' . $question->question_id . '">' . '<i class="glyphicon glyphicon-remove" name="remove" id="remove_' . $question->id . '" onclick="removeQ(' . $question->id . ')"></i><br/>';
					;
				}
				?></div>
			</div>
			<div>
				<div>
					<input type="button" value="Thêm câu hỏi" id="add_question"
						name="add_question" class="btn">
				</div>
				<div>
					<label>Số câu hỏi:</label> <input type="number"
						name="number_of_question" id="number_of_question"
						value="<?php echo sizeof($this->view->questions);?>">
				</div>
			</div>
			<div>
				<input type="submit" name="submit" value="Cập nhật"
					class="form-control btn btn-primary">
			</div>
		</form>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
 var editor = CKEDITOR.replace( 'description' );
</script>
<script>
i = document.getElementById('number_of_question').value;
$(document).ready(function(){
$("#add_question").click( function (){
	i++;
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.onreadystatechange = function() {
		if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			$("#select_question").append("<label class='new_"+i+"'>Câu số " + i + "</label>");
			$("#select_question").append(xmlHttp.responseText);
			$("#number_of_question").val(i);
		}
	};
	xmlHttp.open("GET", "/admin/exam/questionforupdate?value="+i, true);
	xmlHttp.send();
		
});
});	

//function remove question
function removeQ(id){
	$("#question_"+id).remove();
}
function removeOption(id){
	$(".new_"+id).remove();
}
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>