
<p><?php $this->flash->output();?></p>
<div>
	<div class="col-md-12"><?php
	echo $this->view->exam->description;
	?></div>
	<div><?php
	foreach ( $this->view->questions as $question ) {
		echo '<div class="col-md-12">';
		echo '<label>Câu ' . $question->question_number . ' ' . $question->question_desc . ':</label>';
		echo '<div class="col-md-12">' . $question->question_content . '</div>';
		echo '</div>';
	}
	?></div>
	<div class="col-md-12" align="center">
		<i>(<?php echo $this->view->exam->footer?>)</i>
	</div>
</div>
<div class="col-md-12 none-print">
	<?php
	echo $this->tag->linkTo ( '/admin/exam/update/' . $this->view->exam->id, '<i class="glyphicon glyphicon-edit"></i> Edit' );
	?>
	<br>
	<?php echo $this->tag->linkTo ( '/admin/answer/answers/' . $this->view->exam->id, 'Đáp án' )?>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>