<?php echo $this->flash->output();?>
<div>
	<div class="panel panel-success">
		<div class="panel-heading">Bài Giảng</div>
		<div class="panel-body">
			<table class="table table-striped">
				<tbody><?php
				foreach ( $this->view->subjects as $subject ) {
					echo '<tr><td>';
					echo $this->tag->linkTo ( '/lesson/lessons/' . $subject->id, 'Môn ' . $subject->name );
					echo '</td></tr>';
				}
				
				?>		</tbody>
			</table>
		</div>
	</div>
</div>
<style>
.title-section {
	padding-left: 15px;
	padding-top: 1px;
	border-top-left-radius: 1em;
	border-top-right-radius: 80em 5em;
	width: 65%;
	height: 30px;
	background-color: green;
	color: white;
	vertical-align: middle;
}
</style>