<?php $this->assets->outputJs();?>
<?php $this->flash->output();?>
<div class="col-md-12">
	<h2>Hướng dẫn gõ ký tự toán học</h2>
	<p></p>
	<div class="panel panel-default">
		<div class="panel-body"><?php echo $this->view->content;?></div>
	</div>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>