<?php
use const hoctap\Teacher\Controllers\LinkQuestionIndex;
use const hoctap\Teacher\Controllers\LinkExamIndex;
use const hoctap\Teacher\Controllers\LinkLessonIndex;
?>
<div><?php echo $this->flash->output();?></div>
<div>
	<div><?php echo $this->tag->linkTo(LinkExamIndex,'Đề thi')?></div>
	<div><?php echo $this->tag->linkTo(LinkQuestionIndex,'Câu hỏi');?></div>
	<div><?php echo $this->tag->linkTo(LinkLessonIndex,'Bài giảng');?></div>
	<div>
		<a href="/teacher/category">Chủ đề môn học</a>
	</div>
	<div>
		<a href="/teacher/result/index">Kết quả thi</a>
	</div>
	<div>
		<a href="/teacher/topic/">Topic trong forum</a>
	</div>
	<div>
		<a href="/user/index">Trang cá nhân</a>
	</div>
</div>

