<?php echo $this->flash->output();?>
<div>
	<div><?php if(count($this->view->results)>0)echo $this->view->results[0]->name;?></div>
<?php foreach ( $this->view->results as $result ) { ?>
	<div>
		<label>Thời gian: </label><?php echo $result->date_test;?></div>
	<div>
		<label>Điểm số: </label><?php echo $result->score;?></div>
	<button data-toggle="collapse" data-target="#detail"
		class=" btn btn-default">Chi tiết</button>
	<button data-toggle="collapse" class=" btn btn-default"
		onclick="reset()">Xóa</button>

	<div id="detail" class="collapse">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Câu số</th>
					<th>Chọn</th>
					<th>Đáp án</th>
				</tr>
			</thead>
			<tbody>
			<?php $question_results = explode(';', $result->choose_answer)?>
			<?php foreach ($question_results as $question_result){?>
			<tr>
				<?php if($question_result!=''){?>
				<?php $col = explode('_', $question_result)?>
				<td><?php echo $col[0]?></td>
					<td><?php echo $col[2]?></td>
					<td><?php echo $col[3]?></td>
				<?php }?>
			</tr>
			<?php }?>
			</tbody>
		</table>
	</div>
	<div>
		<label>Other: </label><?php echo $result->other;?></div>
<?php }?>

</div>
<script>
function reset(){
    if (confirm("Bạn có chắc xóa kết quả thi này!") == true) {
       window.location.href = "<?php echo $this->view->info?>";
    }
}
</script>