<?php echo $this->flash->output()?>
<div class="panel panel-success">
	<div class="panel-heading">Danh sách đề thi</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Mô tả</th>
					<th>Cập nhật</th>
					<!-- 					<th>Chỉnh sửa</th> -->
				</tr>
			</thead>
			<tbody>
			<?php
			foreach ( $this->view->page->items as $exam ) {
				$exam->name = htmlentities ( $exam->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
				echo '<tr>';
				echo '<td>' . $exam->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/teacher/result/view/' . $exam->id, $exam->name ) . '</td>';
				echo '<td>' . $exam->date_modify . '</td>';
				echo '</tr>';
			}
			?>
			
			</tbody>

		</table>
		<div><?php echo $this->view->pageControl;?></div>
	</div>
</div>