<?php $this->flash->output();?>
<div>
	<div>
		<canvas id="result_chart" width="770px" height="450px"></canvas>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Tên</th>
				<th>Điểm số</th>
				<th>Chi Tiết</th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ( $this->view->page->items as $result ) {
				$result->name = htmlentities ( $result->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
				echo '<tr>';
				echo '<td>' . $result->user_id . '</td>';
				echo '<td>' . $result->last_name . ' ' . $result->first_name . '</td>';
				echo '<td>' . $result->score . '</td>';
				echo '<td><a href="/teacher/result/detail/' . $result->exam_id . '/' . $result->user_id . '">Xem</a></td>';
				echo '</tr>';
			}
			?>
			
			</tbody>

	</table>
</div>
<script type="text/javascript">
var ctx = document.getElementById("result_chart");
var label_array= <?php echo json_encode( $this->view->label)?>;
var data_array = <?php echo json_encode( $this->view->data)?>;
var data_array_cover = <?php echo json_encode( $this->view->dataCover)?>;
var data = {
	    labels: label_array,
	    datasets: [
	       
	        {
	            label: "Trả lời đúng",
	            backgroundColor: "rgba(255,99,132,0.2)",
	            borderColor: "rgba(255,99,132,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array
	        },
	        {
	            label: "Tổng số câu hỏi",
	            backgroundColor: "rgba(187,255,187,0.2)",
	            borderColor: "rgba(0,251,0,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array_cover
	        }
	    ]
	};
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    //options: options
});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>