<?php $this->flash->output();?>
<div class="row">
	<div class="col-md-12" align="center">
		<h3><?php echo $this->view->exam->description;?></h3>
	</div>
	<div><?php
	$answerNumber = 0;
	$oldQuestion = null;
	foreach ( $this->view->questions as $question ) {
		echo '<div class="col-md-12">';
		if ($oldQuestion == null || $question->id != $oldQuestion->id) {
			$answerNumber = 0;
			echo '<label>Câu ' . $question->question_number . ' ' . $question->question_desc . ':</label>';
			echo '<div class="col-md-12">' . $question->question_content . '</div>';
			if ($question->answer_content != '') {
				echo '<div class="col-md-12">' . '<label>Đáp án ' . ++ $answerNumber . '</label>' . $question->answer_content . '</div>';
			}
		} else {
			if ($question->answer_content != '') {
				echo '<div class="col-md-12">' . '<label>Đáp án ' . ++ $answerNumber . '</label>' . $question->answer_content . '</div>';
			}
		}
		echo '</div>';
		$oldQuestion = $question;
	}
	?></div>
	<div class="col-md-12" align="center">
		<i>(<?php echo $this->view->exam->footer?>)</i>
	</div>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>