<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Đáp án</div>
	<div class="panel-body row">
		<div class="panel panel-default col-md-12">
			<label>Câu hỏi</label>
			<div><?php echo $this->view->question->question_content;?></div>
		</div>
		<div class="panel panel-default col-md-12">
			<label>Đáp án</label>
			<div id="math_preview">Xem trước</div>
		</div>

		<form method="post" action="/teacher/answer/save" class="form-inline">
			<div class="col-md-12"><?php echo $this->view->form->render('id')?></div>
			<div class="col-md-12"><?php echo $this->view->form->render('question_id')?></div>
			<div>
				<label data-toggle="tooltip"
					title="Thời gian đáp án bắt đầu được hiển thị">Được hiển thị</label>
				<input type="datetime-local" class="form-control" name="active_view">
			</div>
			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render('answer_content')?></div>
			<div class="col-md-12"><?php echo $this->view->form->render('submit')?></div>
		</form>

	</div>
</div>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'answer_content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript">
	function updateFormula(value){
		var div = document.getElementById('math_preview');
		div.innerHTML = value;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub,"math_preview"]);
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>