<?php $this->flash->output();?>
<div class="panel panel-warning">
	<div class="panel-heading">Báo vi phạm hoặc đóng góp yêu cầu cho Admin</div>

	<div class="panel-body">
		<form method="post" action="index">
			<div>
				<label>Tiêu đề</label> <input type="text" name="title"
					placeholder="Tiêu đề" class="form-control">
				<p>Ex: [Lỗi]...; [Cập nhật] ...</p>
			</div>
			<div>
				<label>Nội dung</label>
				<textarea rows="5" cols="30" placeholder="Nội dung"
					name="report_content" class="form-control"></textarea>
			</div>
			<div>
				<input type="submit" name="submit" value="Gửi"
					class="btn btn-primary form-control margin-btn">
			</div>
		</form>

	</div>
</div>