<?php echo $this->flash->output()?>
<div style="margin-bottom: 15px;">
	<a href="/forum/create/" class="btn btn-default" role="button">New
		Topic</a>
</div>
<div class="panel panel-success">
	<div class="panel-heading">

		<b>Topic của bạn</b>
	</div>

	<div class="panel-body" align="center">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Topic</th>
					<th>Cập nhật</th>
				</tr>
			</thead>
			<tbody><?php
			foreach ( $this->view->page->items as $topic ) {
				$name = htmlentities ( $topic->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
				echo '<tr>';
				echo '<td>' . $this->tag->linkTo ( '/forum/topic/' . $topic->id, $name ) . '</td>';
				echo '<td>' . $topic->date_modify . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/topic/update/' . $topic->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/topic/delete/' . $topic->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
				
				echo '</tr>';
			}
			?>		
			</tbody>
		</table>
		<div><?php echo $this->view->pageControl;?></div>
	</div>
</div>