
<h1>Tạo một kiểu người dùng</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="create">
		<div>
			<label>Kiểu người dùng</label>
			<?php echo $this->view->form->render('name');?>
		</div>
		<div>
			<label>Module</label>
			<?php echo $this->view->form->render('module');?>
		</div>
		<div>
			<?php echo $this->view->form->render('submit')?>
		</div>
	</form>
</div>
