
<h1>Các kiểu người dùng</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div>
		<?php echo $this->tag->linkTo('/admin/user-type/create/','Tạo mới')?>
	</div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Module</th>
					<th>Kiểu</th>
				</tr>
			</thead>
			<?php
			foreach ( $this->view->page->items as $user_type ) {
				echo '<tr>';
				echo '<td>' . $user_type->id . '</td>';
				echo '<td>' . $user_type->module . '</td>';
				echo '<td>' . $user_type->name . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/user-type/update/' . $user_type->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/user-type/delete/' . $user_type->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
				echo '</tr>';
			}
			?>
			</table>
	</div>
</div>