<?php
use hoctap\Admin\Models\Subjects;
?>
<h1>Các chủ đề bài viết</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div><?php echo $this->tag->linkTo('/admin/category/create/','Tạo mới')?></div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Viết tắt</th>
					<th>Kiểu câu hỏi</th>
					<th>Môn học</th>
				</tr>
			</thead>
			<tbody><?php
			foreach ( $this->view->page->items as $category ) {
				echo '<tr>';
				echo '<td>' . $category->id . '</td>';
				echo '<td>' . $category->acronym . '</td>';
				echo '<td>' . $category->type . '</td>';
				echo '<td>' . Subjects::findFirstById ( $category->subject_id )->name . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/category/update/' . $category->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/category/delete/' . $category->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
				echo '</tr>';
			}
			?></tbody>
		</table>
	</div>
</div>