
<h1>Cập nhật chủ đề</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="/admin/category/save">
		<div><?php echo $this->view->form->render('id')?><label>Tên chủ đề</label><?php echo $this->view->form->render('type');?></div>
		<div>
			<label>Viết tắt</label><?php echo $this->view->form->render('acronym');?></div>
		<div>
			<label>Môn học</label><?php echo $this->view->form->render('subject_id');?></div>
		<div><?php echo $this->view->form->render('submit')?></div>
	</form>
</div>