<?php echo $this->flash->output();?>
<div>
	<div><?php if(count($this->view->results)>0)echo $this->view->results[0]->name;?></div>
<?php foreach ( $this->view->results as $result ) { ?>
	<div>
		<label>Thời gian: </label><?php echo $result->date_test;?></div>
	<div>
		<label>Điểm số: </label><?php echo $result->score;?>
	</div>
	<canvas id="result_chart" width="770px" height="450px"></canvas>
	<?php if($this->view->showAnswer){?>
	<button data-toggle="collapse" data-target="#detail"
		class=" btn btn-default">Chi tiết</button>

	<div id="detail" class="collapse">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Câu số</th>
					<th>Chọn</th>
					<th>Đáp án</th>
				</tr>
			</thead>
			<tbody>
			<?php $question_results = explode(';', $result->choose_answer)?>
			<?php foreach ($question_results as $question_result){?>
			<tr>
				<?php if($question_result!=''){?>
				<?php $col = explode('_', $question_result)?>
				<td><?php echo $col[0]?></td>
					<td><?php echo $col[2]?></td>
					<td><?php echo $col[3]?></td>
				<?php }?>
			</tr>
			<?php }?>
			</tbody>
		</table>
	</div>
	<div>
		<label>Other: </label><?php echo $result->other;?></div>
<?php }?>
<?php }?>
</div>
<script type="text/javascript">
var ctx = document.getElementById("result_chart");
var label_array= <?php echo json_encode( $this->view->label)?>;
var data_array = <?php echo json_encode( $this->view->data)?>;
var data_array_cover = <?php echo json_encode( $this->view->coverData)?>;
var data = {
	    labels: label_array,
	    datasets: [
	       
	        {
	            label: "Đáp án đúng",
	            backgroundColor: "rgba(255,99,132,0.2)",
	            borderColor: "rgba(255,99,132,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array
	        },{
	            label: "Tổng số câu hỏi",
	            backgroundColor: "rgba(187,255,187,0.2)",
	            borderColor: "rgba(0,251,0,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array_cover
	        }
	    ]
	};
var dataCover = {
	    labels: label_array,
	    datasets: [
	       
	        {
	            label: "<?php echo $this->view->exam_name?>",
	            backgroundColor: "rgba(255,99,132,0.2)",
	            borderColor: "rgba(255,99,132,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array_cover
	        }
	    ]
	};
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data
    //options: options
});
</script>
