<?php echo $this->flash->output();?>

<div>
<?php

foreach ( $this->view->tests as $test ) {
	echo '<a href="/student/result/exam/' . $test->exam_id . '">' . $test->name . '</a>';
	echo '<br/>';
}
?>
</div>
<!-- <canvas id="result_chart" width="100" height="100"></canvas> -->
<script type="text/javascript">
var ctx = document.getElementById("result_chart");
var label_array= <?php echo json_encode( $this->view->label)?>;
var data_array = <?php echo json_encode( $this->view->data)?>;
var data = {
	    labels: label_array,
	    datasets: [
	       
	        {
	            label: "<?php echo $this->view->exam_name?>",
	            backgroundColor: "rgba(255,99,132,0.2)",
	            borderColor: "rgba(255,99,132,1)",
	            pointBackgroundColor: "rgba(255,99,132,1)",
	            pointBorderColor: "#fff",
	            pointHoverBackgroundColor: "#fff",
	            pointHoverBorderColor: "rgba(255,99,132,1)",
	            data: data_array
	        }
	    ]
	};
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    //options: options
});
</script>
