<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Tạo tag</div>
	<div class="panel-body row">
		<form method="post" action="create">
			<label class="col-md-2">Tag name</label>
			<!-- input question name -->
			<div class="col-md-10"><?php echo $this->view->form->render('tag')?></div>

			<label class="col-md-12">Nội dung</label>
			<div class="col-md-12"><?php echo $this->view->form->render('content')?></div>
			<div class="col-md-12"><?php echo $this->view->form->render ( 'submit' )?></div>

		</form>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'content' );
    editor.updateElement();
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>