<h1>Data mở rộng</h1>
<div><?php echo $this->flash->output();?></div>
<div><?php echo $this->tag->linkTo('/admin/info/create/' ,'Tạo mới');?></div>
<div align="center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Tag</th>
				<th>Content</th>
			</tr>
		</thead>
		<tbody><?php
		foreach ( $this->view->page->items as $item ) {
			$item->tag = htmlentities ( $item->tag, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $item->tag . '</td>';
			echo '<td>' . $item->content . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/info/update/' . $item->tag, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/info/delete/' . $item->tag, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
			echo '</tr>';
		}
		?>
		</tbody>
	</table>
	<div><?php echo $this->view->pageControl;?></div>
</div>