<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Cập nhật Tag</div>
	<div class="panel-body row">
		<form method="post" action="/admin/info/save" class="form-horizontal">
			<label class="col-md-2">Tag name</label>
			<!-- input question name -->
			<div class="col-md-10"><?php echo $this->view->form->render('tag')?></div>
			<label class="col-md-12">Nội dung</label>
			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render('content')?></div>

			<div class="col-md-12"><?php echo $this->view->form->render('submit')?></div>

		</form>

	</div>
</div>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'content' );
    editor.updateElement();
   
</script>