<?php
use hoctap\Teacher\Models\Categories;
use hoctap\Teacher\Models\Subjects;
?>
<?php $this->flash->output();?>
<h1><?php echo htmlentities ( $this->view->question->question_name, ENT_QUOTES | ENT_IGNORE, "UTF-8" ); ?></h1>
<div class="col-md-12">
	<label class="col-md-2">Chủ đề: </label>
	<div class="col-md-10"><?php echo Categories::findFirstById($this->view->question->question_type)->type?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Môn học:</label>
	<div class="col-md-10"><?php echo Subjects::findFirstById($this->view->question->subject_id)->name;?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Độ khó:</label>
	<div class="col-md-10"><?php echo $this->view->question->difficulty?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Ngày cập nhật: </label>
	<div class="col-md-10"><?php echo $this->view->question->date_modify?></div>
</div>

<div class="panel panel-default col-md-12">
	<div><?php
	echo $this->view->question->question_content;
	echo $this->tag->linkTo ( '/teacher/question/update/' . $this->view->question->id, '<i class="glyphicon glyphicon-edit"></i> Edit' );
	?></div>
</div>
<div class="panel panel-default col-md-12">
<?php if(count($this->view->multiChoise) > 0){?>
	<div>A. <?php echo $this->view->multiChoise->option_a?></div>
	<div>B. <?php echo $this->view->multiChoise->option_b?></div>
	<div>C. <?php echo $this->view->multiChoise->option_c?></div>
	<div>D. <?php echo $this->view->multiChoise->option_d?></div>
	<div>E. <?php echo $this->view->multiChoise->option_e?></div>
	<div>Đáp án đúng: <?php echo $this->view->multiChoise->true_answer?></div>
<?php }?>
</div>

<div>
	<label>Cách làm:</label>
	<div>Bắt đầu hiển thị từ: <?php if(count($this->view->answers) > 0) echo $this->view->answers[0]->active_view;?></div>
	<div class="list-group"><?php
	$i = 1;
	if (count ( $this->view->answers )) {
		foreach ( $this->view->answers as $answer ) {
			echo '<div class="list-group-item">';
			echo '<label>Cách làm ' . $i ++ . ':</label>';
			echo '<div>' . $answer->answer_content;
			echo $this->tag->linkTo ( '/teacher/answer/update/' . $answer->id, '<i class="glyphicon glyphicon-edit"></i>Edit' );
			echo $this->tag->linkTo ( '/teacher/answer/delete/' . $answer->id, ' <i class="glyphicon glyphicon-remove"></i>Delete ' );
			echo $answer->date_modify . '</div></div>';
		}
	} else {
		echo 'Chưa có cách làm nào';
	}
	?></div>
	<div><?php echo $this->tag->linkTo('/teacher/answer/create/'.$this->view->question->id,'Thêm đáp án')?></div>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>