<?php $this->flash->output();?>
<div onload="startTest()" class="col-md-12 timer navbar-fixed-top">
	<h3 id="timer"></h3>
</div>
<div class="row">
	<div class="col-md-12"><?php
	echo $this->view->exam->description;
	?></div>
	<form id="test_form" name="test_form" action="/test/finish"
		method="post">
		<input type="hidden"
			value="<?php echo $this->view->questions[0]->exam_id?>"
			name="exam_id"> <input type="hidden" name="number_question"
			value="<?php echo count($this->view->questions)?>">
		<div><?php
		foreach ( $this->view->questions as $question ) {
			echo '<div class="col-md-12">';
			echo '<p style="float:left"><b>Câu ' . $question->question_number . $question->question_desc . '.</b>&nbsp;</p>';
			echo $question->question_content;
			
			if ($question->option_a != null) {
				echo '<p><input type="radio" name="q' . $question->question_number . '" value="A">';
				echo '&emsp;&emsp;A. ' . $question->option_a . '</p>';
			}
			if ($question->option_b != null) {
				echo '<p><input type="radio" name="q' . $question->question_number . '" value="B">';
				echo '&emsp;&emsp;B. ' . $question->option_b . '</p>';
			}
			if ($question->option_c != null) {
				echo '<p><input type="radio" name="q' . $question->question_number . '" value="C">';
				echo '&emsp;&emsp;C. ' . $question->option_c . '</p>';
			}
			if ($question->option_d != null) {
				echo '<p><input type="radio" name="q' . $question->question_number . '" value="D">';
				echo '&emsp;&emsp;D. ' . $question->option_d . '</p>';
			}
			if ($question->option_e != null) {
				echo '<p><input type="radio" name="q' . $question->question_number . '" value="E">';
				echo '&emsp;&emsp;E. ' . $question->option_e . '</p>';
			}
			
			echo '</div>';
		}
		?></div>
		<div class="col-md-12" align="center">
			<i>(<?php echo $this->view->exam->footer?>)</i>
		</div>
		<input type="submit" name="btnSubmit" value="Nộp bài">
	</form>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<script>
var totalTime = parseInt('<?php echo $this->view->remainTime;?>')*1000;
startTest();
</script>
<style>
.timer {
	left: 0px;
	top: 50px;
	overflow: hidden;
	z-index: 10;
}
</style>