<?php $this->flash->output()?>
<div class="panel panel-success">
	<div class="panel-heading">Điểm số</div>
	<div class="panel-body"><?php echo $this->view->yourScore.'/'.$this->view->totalScore;?></div>
</div>