<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Gửi yêu cầu</div>
	<div class="panel-body row">
		<form method="post" action="/student/index/change"
			class="form-horizontal">
			<div>
				<label class="col-md-2">Tiêu đề</label>
				<!-- input question name -->
				<div class="col-md-10"><?php echo $this->view->form->render('title')?></div>
			</div>
			<label class="col-md-12">Nội dung</label>
			<!-- input question content -->
			<div class="col-md-12"><?php echo $this->view->form->render ( 'content' )?></div>
			<div class="col-md-12"><?php echo $this->view->form->render ( 'submit' )?></div>

		</form>
	</div>
</div>

<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>