<?php echo $this->flash->output();?>
<a href="/student/result">Điểm thi</a>
<br />
<a href="/student/topic/">Topic của bạn</a>
<br />
<a href="/user/index">Thông tin cá nhân</a>
<br/>
<a href="/student/index/change">Đăng ký giáo viên</a>
