<h1>Bình luận</h1>
<div><?php echo $this->flash->output();?></div>
<div align="center">
	<ul class="nav nav-tabs">
		<li><a href="#" onclick="openCity('question')">Câu hỏi</a></li>
		<li><a href="#" onclick="openCity('lesson')">Bài giảng</a></li>
		<li><a href="#" onclick="openCity('exam')">Đề thi</a></li>
	</ul>

	<div id="question" class="comment">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Content</th>
					<th>Author</th>
					<th>Data modify</th>
					<!-- 				<th>Kind</th> -->
				</tr>
			</thead>
			<tbody>	<?php
			foreach ( $this->view->pageQ->items as $comment ) {
				echo '<tr>';
				echo '<td>' . $comment->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/admin/comment/view/' . $comment->id, $comment->content ) . '</td>';
				echo '<td>' . $comment->author_id . '</td>';
				echo '<td>' . $comment->date_modify . '</td>';
				// echo '<td>' . Subjects::findFirstById ( $comment->subject_id )->name . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( array (
						'/admin/comment/delete/' . $comment->id . '/question',
						'<i class="glyphicon glyphicon-remove"></i> Delete' 
				) ) . '</td>';
				echo '</tr>';
			}
			?>
		<tr>
					<td colspan="7" align="right">
						<div class="btn-group"><?php
						echo $this->tag->linkTo ( '/admin/comment/index/', '<i class="icon-fast-backward"></i>Đầu', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageQ->before, '<i class="icon-step-backward"></i>Trước', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageQ->next, '<i class="icon-step-forward"></i>Tiếp', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageQ->last, '<i class="icon-fast-forward"></i>Cuối', array (
								'class' => 'btn' 
						) )?>
				
				<span class="help-inline"><?php echo $this->view->pageQ->current.' / '.$this->view->pageQ->total_pages ?></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="lesson" class="comment">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Content</th>
					<th>Author</th>
					<th>Data modify</th>
					<!-- 				<th>Kind</th> -->
				</tr>
			</thead>
			<tbody>	<?php
			foreach ( $this->view->pageL->items as $comment ) {
				echo '<tr>';
				echo '<td>' . $comment->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/admin/comment/view/' . $comment->id, $comment->content ) . '</td>';
				echo '<td>' . $comment->author_id . '</td>';
				echo '<td>' . $comment->date_modify . '</td>';
				// echo '<td>' . Subjects::findFirstById ( $comment->subject_id )->name . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( array (
						'/admin/comment/delete/' . $comment->id . '/lesson',
						'<i class="glyphicon glyphicon-remove"></i> Delete' 
				) ) . '</td>';
				echo '</tr>';
			}
			?>
		<tr>
					<td colspan="7" align="right">
						<div class="btn-group"><?php
						echo $this->tag->linkTo ( '/admin/comment/index/', '<i class="icon-fast-backward"></i>Đầu', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageL->before, '<i class="icon-step-backward"></i>Trước', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageL->next, '<i class="icon-step-forward"></i>Tiếp', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageL->last, '<i class="icon-fast-forward"></i>Cuối', array (
								'class' => 'btn' 
						) )?>
				
				<span class="help-inline"><?php echo $this->view->pageQ->current.' / '.$this->view->pageL->total_pages ?></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="exam" class="comment">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Content</th>
					<th>Author</th>
					<th>Data modify</th>
					<!-- 				<th>Kind</th> -->
				</tr>
			</thead>
			<tbody>	<?php
			foreach ( $this->view->pageE->items as $comment ) {
				echo '<tr>';
				echo '<td>' . $comment->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/admin/comment/view/' . $comment->id, $comment->content ) . '</td>';
				echo '<td>' . $comment->author_id . '</td>';
				echo '<td>' . $comment->date_modify . '</td>';
				// echo '<td>' . Subjects::findFirstById ( $comment->subject_id )->name . '</td>';
				echo '<td class="btn btn-default">' . $this->tag->linkTo ( array (
						'/admin/comment/delete/' . $comment->id . '/exam',
						'<i class="glyphicon glyphicon-remove"></i> Delete' 
				) ) . '</td>';
				echo '</tr>';
			}
			?>
		<tr>
					<td colspan="7" align="right">
						<div class="btn-group"><?php
						echo $this->tag->linkTo ( '/admin/comment/index/', '<i class="icon-fast-backward"></i>Đầu', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageE->before, '<i class="icon-step-backward"></i>Trước', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageE->next, '<i class="icon-step-forward"></i>Tiếp', array (
								'class' => 'btn' 
						) );
						echo $this->tag->linkTo ( '/admin/comment/index/?page=' . $this->view->pageE->last, '<i class="icon-fast-forward"></i>Cuối', array (
								'class' => 'btn' 
						) )?>
				
				<span class="help-inline"><?php echo $this->view->pageE->current.' / '.$this->view->pageE->total_pages ?></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
openCity("question")
function openCity(kind) {
    var i;
    var x = document.getElementsByClassName("comment");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(kind).style.display = "block";
}
</script>