<?php
use hoctap\Models\Categories;
use hoctap\Models\Subjects;
?>

<p><?php $this->flash->output();?></p>
<h1>Chi tiết câu hỏi</h1>
<div class="col-md-12">
	<label class="col-md-2">Tiêu đề: </label>
	<div class="col-md-10"><?php echo $this->view->question->question_name;?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Chủ đề câu hỏi: </label>
	<div class="col-md-10"><?php echo Categories::findFirstById($this->view->question->question_type)->type?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Môn học:</label>
	<div class="col-md-10"><?php echo Subjects::findFirstById($this->view->question->subject_id)->name;?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Độ khó:</label>
	<div class="col-md-10"><?php echo $this->view->question->difficulty?></div>
</div>
<div class="col-md-12">
	<label class="col-md-2">Ngày cập nhật: </label>
	<div class="col-md-10"><?php echo $this->view->question->date_modify?></div>
</div>
<div class="panel panel-default col-md-12">
	<div class="panel-heading col-md-12">Nội dung:</div>
	<div class="panel-body col-md-12"><?php echo $this->view->question->question_content;?></div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>