<?php use hoctap\Anonymous\Models\Users;?>

<?php $this->assets->outputJs(); ?>
<?php $this->flash->output();?>
<h2><?php echo htmlentities ( $this->view->topic->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );?></h2>
<div class="col-md-12 panel panel-default"><?php echo $this->view->topic->content; ?></div>
<p>
	<label>Tác giả: </label><?php echo Users::findFirstById($this->view->topic->author_id)->first_name;?></p>
<div>
	<label>Comment:</label>
	<div><?php
	foreach ( $this->view->page->items as $answer ) {
		
		if ($answer->rate > 4) {
			echo '<div class="panel panel-primary">';
		} else {
			echo '<div class="panel panel-default">';
		}
		echo '<div class="panel-heading"><b class="user-comment-name">' . $answer->first_name . '</b> <span class="time-comment">' . $answer->date_modify . '</span>';
		if ($this->session->get ( 'id' ) == $answer->author_id) {
			echo '<a href="/forum/deleteanswer/' . $answer->id . '" class="delete-comment">' . '<i class="fa fa-minus-circle" aria-hidden="true"></i></a>';
		}
		echo '</div>';
		echo '<div class="panel-body">' . $answer->content . '</div>';
		echo '</div>';
	}
	?></div>
</div>
<tr>
	<td colspan="7" align="right">
		<div class="btn-group"><?php echo $this->view->pageControl;?></div>
	</td>
</tr>
<br />
<div class="fb-like" data-href="" data-layout="standard"
	data-action="like" data-size="small" data-show-faces="true"
	data-share="true" id="fb-like"></div>
<div class="fb-comments" data-href="" data-numposts="5" id="fb-comment"></div>
<!-- Comment form -->
<?php echo $this->view->comment;?>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'comment' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<style>
.delete-comment {
	float: right;
}
</style>