<?php
use const hoctap\Admin\Controllers\LinkQuestionType;
use const hoctap\Admin\Controllers\LinkUserManage;
use const hoctap\Admin\Controllers\LinkSubjectManage;
use const hoctap\Admin\Controllers\LinkUserTypeManage;
use const hoctap\Admin\Controllers\LinkQuestionManage;
use const hoctap\Admin\Controllers\LinkExamManage;
use const hoctap\Admin\Controllers\LinkLessonManage;
use const hoctap\Admin\Controllers\LinkIngoreCharacterManage;
use const hoctap\Admin\Controllers\LinkCommentManage;
?>
<h1>Admin Manager</h1>
<div><?php echo $this->flash->output()?></div>
<div class="col-md-12">
	<hr>
	<h4>Quản lý nội dung</h4>
	<div><?php echo $this->tag->linkTo(LinkQuestionType,'Chủ đề bài viết');?></div>
	<div><?php echo $this->tag->linkTo(LinkSubjectManage,'Môn học')?></div>
	<div><?php echo $this->tag->linkTo(LinkQuestionManage,'Câu hỏi')?></div>
	<div><?php echo $this->tag->linkTo(LinkExamManage,'Đề thi')?></div>
	<div><?php echo $this->tag->linkTo(LinkLessonManage,'Bài giảng')?></div>
	<div><?php echo $this->tag->linkTo('/admin/topic/','Forum')?></div>
	<div><?php echo $this->tag->linkTo(LinkCommentManage,'Các comment')?></div>
	<div><?php echo $this->tag->linkTo('/admin/info','Nội dung mở rộng')?></div>
	<hr>
	<h4>Quản trị website</h4>
	<div><?php echo $this->tag->linkTo(LinkUserManage,'Thành viên trong website');?></div>
	<div><?php echo $this->tag->linkTo(LinkUserTypeManage,'Kiểu người dùng')?></div>
	<div><?php echo $this->tag->linkTo(LinkIngoreCharacterManage,'Ký tự không được phép')?></div>
	<div><?php echo $this->tag->linkTo('/admin/user/change','Yêu cầu Account Giáo Viên')?></div>
</div>