<?php $this->assets->outputJs();?>
<p><?php $this->flash->output();?></p>
<div class="rows print-me">
	<div class="col-md-12"><?php echo $this->view->exam->description;?></div>
	<div><?php
	foreach ( $this->view->questions as $question ) {
		echo '<div class="col-md-12">';
		echo '<label>Câu ' . $question->question_number . ' ' . $question->question_desc . ':</label>';
		echo '<div class="col-md-12">' . $question->question_content . '</div>';
		echo '</div>';
	}
	?></div>
	<div class="col-md-12" align="center">
		<i>(<?php echo $this->view->exam->footer?>)</i>
	</div>
</div>
<div class="none-print">
	<div class=""><?php echo $this->tag->linkTo('/index/answers/'.$this->view->exam->id,'Đáp án') ?></div>
	<!-- Comment content -->
	<label>Bình luận</label>
	<hr />
	<div class=""><?php echo $this->view->viewComments;?></div>
	<div class="btn-group"><?php echo $this->view->pageControl;?></div>
	<br />
	<div>
		<div class="fb-like" data-href="" data-layout="standard"
			data-action="like" data-size="small" data-show-faces="true"
			data-share="true" id="fb-like"></div>
	</div>
	<br />
	<div class="fb-comments" data-href="" data-numposts="5" id="fb-comment"></div>
	<!-- comment module -->
<?php echo $this->view->comment;?>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'comment' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>