<?php echo $this->flash->output()?>
<div class="panel panel-success">
	<div class="panel-heading">
		<b>Danh sách đề thi</b>
	</div>
	<div class="panel-body" align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Mô tả</th>
					<th>Cập nhật</th>
				</tr>
			</thead>
			<tbody><?php
			foreach ( $this->view->page->items as $exam ) {
				$name = htmlentities ( $exam->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
				echo '<tr>';
				echo '<td>' . $exam->id . '</td>';
				echo '<td>' . $this->tag->linkTo ( '/exam/exam/' . $exam->id, $name ) . '</td>';
				echo '<td>' . $exam->date_modify . '</td>';
				echo '</tr>';
			}
			?>		
			</tbody>
		</table>
		<div><?php echo $this->view->pageControl;?></div>
	</div>
</div>