<?php
use hoctap\Teacher\Models\Subjects;
use hoctap\Teacher\Models\Categories;
?>
<h1>Ngân hàng bài giảng</h1>
<div><?php
echo $this->flash->output ();
?></div>
<div><?php echo $this->tag->linkTo ( '/teacher/lesson/create/', 'Tạo mới' );?></div>
<div align="center">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Chủ đề</th>
				<th>Môn</th>
			</tr>
		</thead>
		<tbody>	<?php
		foreach ( $this->view->page->items as $lesson ) {
			$lesson->name = htmlentities ( $lesson->name, ENT_QUOTES | ENT_IGNORE, "UTF-8" );
			echo '<tr>';
			echo '<td>' . $lesson->id . '</td>';
			echo '<td>' . $this->tag->linkTo ( '/teacher/lesson/view/' . $lesson->id, $lesson->name ) . '</td>';
			echo '<td>' . Categories::findFirstById ( $lesson->category_id )->type . '</td>';
			echo '<td>' . Subjects::findFirstById ( $lesson->subject_id )->name . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/lesson/update/' . $lesson->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
			echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/teacher/lesson/delete/' . $lesson->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
			echo '</tr>';
		}
		?>		
		</tbody>
	</table>
	<div><?php echo $this->view->pageControl;?></div>
</div>