<?php $this->flash->output();?>
<div class="panel panel-success">
	<div class="panel-heading">Cập nhật bài giảng</div>
	<div class="row panel-body">
		<form method="post" action="/teacher/lesson/save" class="form-inline">
			<div><?php echo $this->view->form->render('id')?></div>
			<label class="col-md-2">Tên bài giảng</label>
			<!-- input lesson name -->
			<div class="col-md-10"><?php echo $this->view->form->render('name')?></div>
			<label class="col-md-2">Chủ đề</label>

			<!-- input lesson type -->
			<div class="col-md-10"><?php echo $this->view->form->render ( 'category_id' )?></div>
			<label class="col-md-2">Môn học</label>

			<!-- input lesson subject -->
			<div class="col-md-10"><?php echo $this->view->form->render ( 'subject_id' )?></div>

			<label class="col-md-12">Nội dung</label>
			<div class="panel panel-default col-md-12">
				<div id="math_preview"><?php echo $this->view->lesson->content?></div>
			</div>
			<!-- input lesson content -->
			<div class="col-md-12"><?php echo $this->view->form->render ( 'content' )?></div>
			<div class="col-md-12"><?php echo $this->view->form->render('submit')?></div>

		</form>
	</div>
</div>
<script>
//script for setup rich text editor and update formula
   var editor = CKEDITOR.replace( 'content' );
    editor.updateElement();
    editor.on( 'change', function( evt ) {
        // getData() returns CKEditor's HTML content.
       updateFormula(evt.editor.getData());
    });
</script>
<script type="text/javascript">
	function updateFormula(value){
		var div = document.getElementById('math_preview');
		div.innerHTML = value;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub,"math_preview"]);
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["`","`"],["\\(","\\)"]]
    },
  });
</script>
<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>