
<h1>Tạo một môn học</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<form method="post" action="create">
		<div>
			<label>Tên Môn học</label>
			<?php echo $this->view->form->render('name');?>
		</div>
		<div>
			<label>Viết tắt</label>
			<?php echo $this->view->form->render('acronym');?>
		</div>
		<div><?php echo $this->view->form->render('submit')?></div>
	</form>
</div>
