
<h1>Danh sách môn học</h1>
<div><?php echo $this->flash->output()?></div>
<div>
	<div><?php
	echo $this->tag->linkTo ( '/admin/subject/create/', 'Tạo mới' )?></div>
	<div align="center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Viết tắt</th>
					<th>Tên môn học</th>
				</tr>
			</thead>
			<tbody>
					<?php
					foreach ( $this->view->page->items as $subject ) {
						echo '<tr>';
						echo '<td>' . $subject->id . '</td>';
						echo '<td>' . $subject->acronym . '</td>';
						echo '<td>' . $subject->name . '</td>';
						echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/subject/update/' . $subject->id, '<i class="glyphicon glyphicon-edit"></i> Edit' ) . '</td>';
						echo '<td class="btn btn-default">' . $this->tag->linkTo ( '/admin/subject/delete/' . $subject->id, '<i class="glyphicon glyphicon-remove"></i> Delete' ) . '</td>';
						echo '</tr>';
					}
					?>
				</tbody>
		</table>
	</div>
</div>